{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Welcome to the experiment !
{% endblock %}

{% block content %}

<p>Participation in this study is entirely voluntary, and may be withdrawn at any given moment without further consequences. Your decisions will be made anonymously. The results will be analyzed at the individual level for publications in scientific journals. However, it will be impossible to link your identity to your decisions or to your answers on the questionnaire. </p>

<p><strong>Payment :</strong> A flat fee of $XX plus a bonus that depends on your decisions.</p>

<p>The experiment has N parts plus a short questionnaire at the end. You need to complete the N parts to be eligible for the bonus payment. </p>

<p><strong>Informed consent :</strong> By accepting to participate in this experiment, you give us informed consent that we can use your answers in anonymized form for research purposes only.
</p>


    <button class="btn btn-primary btn-large">
        Start the experiment
    </button>

{% endblock %}