{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Decision
{% endblock %}

{% block content %}
<p>Each ball placed in the urn A is worth $<span id="multipleA"> </span>  to you. The urn B contains {{ Constants.red }} {{ Constants.color2 }} balls. Each player can replace {{ Constants.color2 }} balls with his/her {{ Constants.color1 }} balls in the urn B. At the end, the computer randomly selects one ball from the urn B. If the ball is {{ Constants.color2 }}, the urn B yields $0 to everyone in the group. If the ball is {{ Constants.color1 }}, every player in the group gets ${{ Constants.gain_B }} from the urn B. You need to indicate how many {{ Constants.color1 }} balls you want to place in urn B then press <strong>Next</strong>  to validate your choice. </p>



    {% include Constants.interface_contribute_template %}


{% endblock %}

{% block scripts %}

<script type="text/javascript">
    var myVar = setInterval(function(){f11()}, 1000);
    var myVar = setInterval(function(){f12()}, 1000);

        function f11() {
        multipleA = 1*{{ Constants.multiplier_A }};
        document.getElementById("multipleA").innerHTML = multipleA;
        };
        function f12() {
        ball = 1*{{ Constants.endowment|json }};
        document.getElementById("ball").innerHTML = ball;
        };

    window.onload = function(){f11();f12();};
</script>

{%endblock %}