{% load otree %}


    <div class="card-body">

       <p>At the end of the experiment, the computer will randomly create groups of {{ Constants.players }}. Your bonus in this part will depend on your decision as well as the decision of the other group members. </p>

        <p>You and the <span id="otherr"> </span> other players in your group will <strong>each be given ${{ Constants.initial }} and <span id="ball"> </span> {{ Constants.color1 }} balls.</strong> Each of you needs to decide how she/he wishes to allocate the <span id="balll"> </span> {{ Constants.color1 }} balls between two urns, urn A and urn B. </p>

        <p>Each ball placed in the <strong>urn A</strong> is worth $<span id="multipleA"> </span> to you. </p>

        <p>The <strong>urn B</strong> already contains {{ Constants.red }} {{ Constants.color2 }} balls. Each player can replace {{ Constants.color2 }} balls with his/her {{ Constants.color1 }} balls in the urn B. At the end, the computer randomly selects one ball from the urn B. If the ball is {{ Constants.color2 }}, the urn B yields $0 to everyone in the group. If the ball is {{ Constants.color1 }}, every player in the group gets ${{ Constants.gain_B }} from the urn B.</p>

        <p>The total gain for each player is equal to his/her initial endowment of ${{ Constants.initial }} plus the gain from the urn A and the gain from the urn B. </p>

        <p> <strong>Example:</strong> You place <span id="Bp"> </span> {{ Constants.color1 }} balls in urn B and the other <span id="otherrr"> </span> players in your group place <span id="Bo"> </span> {{ Constants.color1 }} balls in total in urn B. Therefore, urn B contains <span id="Bt"> </span> {{ Constants.color1 }} balls and <span id="Ba"> </span> {{ Constants.color2 }} balls. Your gain from urn B is $0 if the computer draws a {{ Constants.color2 }} ball or ${{ Constants.gain_B }} if it is a {{ Constants.color1 }} ball. Your gain from urn A is <span id="A"> </span> x $<span id="multipleAA"> </span> = $<span id="gain2"> </span>. Your total gain is equal to ${{ Constants.initial }} (initial endowment) + $<span id="gain22"> </span> (urn A) + $0 or ${{ Constants.gain_B }} (urn B). </p>

        <p> You will need to indicate <strong> how many {{ Constants.color1 }} balls you want to place in urn B then press Next </strong> to validate your choice.</p>

    </div>

<script type="text/javascript">
    var myVar = setInterval(function(){f1()}, 1000);
    var myVar = setInterval(function(){f2()}, 1000);
    var myVar = setInterval(function(){f4()}, 1000);
    var myVar = setInterval(function(){f5()}, 1000);

        function f1() {
        other = {{ Constants.players }} - 1;
        document.getElementById("otherr").innerHTML = other;
        document.getElementById("otherrr").innerHTML = other;
        document.getElementById("otherrrr").innerHTML = other;
        };
        function f2() {
        multipleA = 1*{{ Constants.multiplier_A }};
        document.getElementById("multipleA").innerHTML = multipleA;
        document.getElementById("multipleAA").innerHTML = multipleA;
        };
        function f4() {
        ball = {{ Constants.endowment|json }};
        document.getElementById("ball").innerHTML = ball;
        document.getElementById("balll").innerHTML = ball;
        };
        function f5() {
        Bp = 28;
        Bo = 30;
        Bt = Bp+Bo;
        Ba = {{ Constants.red }} - Bt;
        A = {{ Constants.endowment|json }} - Bp;
        gain2 = A*{{ Constants.multiplier_A }};
        document.getElementById("Bp").innerHTML = Bp;
        document.getElementById("Bo").innerHTML = Bo;
        document.getElementById("Bt").innerHTML = Bt;
        document.getElementById("Ba").innerHTML = Ba;
        document.getElementById("A").innerHTML = A;
        document.getElementById("gain2").innerHTML = gain2;
        document.getElementById("gain22").innerHTML = gain2;
        };

    window.onload = function(){f1();f2();f4();f5();};
</script>