{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
 <font size="5">Page d'accueil</font>
<br>
<br>
<p>
    L’expérience à laquelle vous allez participer est destinée à l’étude de la prise de décision.
    Nous vous demandons de lire attentivement les instructions, elles doivent vous permettre de bien comprendre l’expérience.
    Lorsque tou-te-s les participant-e-s auront lu ces instructions un expérimentateur procédera à une relecture
    à voix haute.
    Toutes vos décisions seront traitées de façon anonyme.
    Vous indiquerez vos choix à l’ordinateur devant lequel vous êtes assis-e.
    <br>
    Cette expérience comporte deux parties.
    Chaque partie comporte plusieurs phases.
    Les instructions ci-jointes sont celles de la première phase de la partie 1.
    La partie 1 comporte plusieurs phases.
    Nous vous demandons de lire attentivement les instructions qui correspondent à la phase 1.
    Les instructions de la partie 2 vous seront distribuées lorsque vous aurez terminé toutes les phases de la partie 1.
    <br>
    Votre gain à cette expérience, exprimé en ECU, vous sera versé en liquide
    à la toute fin de l’expérience selon le taux de conversion précisé dans les instructions de la partie.
    <br>
    A partir de maintenant, nous vous demandons de ne plus parler. Si vous avez une question,
    levez la main et un expérimentateur viendra vous répondre en privé.
</p>

{% endblock %}

