{% load otree %}


    <div class="card-body">

        <p>At the end of the experiment, the computer will randomly create groups of {{ Constants.players }}. Your bonus in this part will depend on your decision as well as the decision of the other group members. </p>

        <p> You and the <span id="otherr"> </span> other players in your group will <strong>each be given ${{ Constants.initial }} and <span id="ball"> </span>  {{ Constants.color1 }} balls.</strong> Each of you needs to decide how she/he wishes to allocate the <span id="balll"> </span>  {{ Constants.color1 }} balls between two urns, urn A and urn B. </p>

        <p> Each ball that you place in <strong>urn A</strong> costs you $<span id="multipleA"> </span>. </p>

        <p> The <strong>urn B</strong> already contains {{ Constants.red }} {{ Constants.color2 }} balls. Each player can replace {{ Constants.color2 }} balls with his/her {{ Constants.color1 }} balls in urn B. At the end of the round, the computer randomly selects one ball from urn B. If the ball is {{ Constants.color2 }}, the urn B costs $0 to everyone in the group. If the ball is {{ Constants.color1 }}, $<span id="gainBB"> </span> are deducted from every player’s initial endowment. </p>

        <p> The total gain for each player is equal to his/her initial endowment of ${{ Constants.initial }} minus the number of {{ Constants.color1 }} balls that he/she places in urn A times $<span id="multipleAA"> </span>  minus $<span id="gainB"> </span> (if the computer draws a {{ Constants.color1 }} ball from urn B) or $0 (if it is a {{ Constants.color2 }} ball). </p>

        <p> <strong> Example: </strong> You place <span id="Bp"> </span> {{ Constants.color1 }} balls in urn B and the <span id="otherrrr"> </span> other players in your group place <span id="Bo"> </span> {{ Constants.color1 }} balls in total in urn B. Therefore, urn B contains <span id="Bt"> </span> {{ Constants.color1 }} balls and <span id="Ba"> </span> {{ Constants.color2 }} balls. Urn B costs you and the <span id="otherrrrr"> </span> other players $0 (if the computer draws a {{ Constants.color2 }} ball) or $<span id="gainBBB"> </span> (if it is a {{ Constants.color1 }} ball). Urn A costs you <span id="A"> </span> x $<span id="multipleA2"> </span> = $<span id="gain2"> </span>. The total cost to you is therefore $<span id="gain22"> </span> (urn A) + $0 or $<span id="gainBBBB"> </span> (urn B). Your gain is equal to ${{ Constants.initial }} (initial endowment) - $<span id="gain222"> </span> (urn A) - $0 or $<span id="gainBBBBB"> </span> (urn B). </p>

        <p> You will need to indicate <strong> how many {{ Constants.color1 }} balls you want to place in urn B then press Next </strong> to validate your choice. </p>

    </div>


<script type="text/javascript">
    var myVar = setInterval(function(){f1()}, 1000);
    var myVar = setInterval(function(){f2()}, 1000);
    var myVar = setInterval(function(){f3()}, 1000);
    var myVar = setInterval(function(){f4()}, 1000);
    var myVar = setInterval(function(){f5()}, 1000);
    var myVar = setInterval(function(){f6()}, 1000);

        function f1() {
        other = {{ Constants.players }} - 1;
        document.getElementById("otherr").innerHTML = other;
        document.getElementById("otherrr").innerHTML = other;
        document.getElementById("otherrrr").innerHTML = other;
        document.getElementById("otherrrrr").innerHTML = other;
        document.getElementById("otherrrrrr").innerHTML = other;
        };
        function f2() {
        multipleA = -1*{{ Constants.multiplier_A }};
        document.getElementById("multipleA").innerHTML = multipleA;
        document.getElementById("multipleAA").innerHTML = multipleA;
        document.getElementById("multipleA2").innerHTML = multipleA;
        };
        function f3() {

        };
        function f4() {
        ball = {{ Constants.endowment|json }};
        document.getElementById("ball").innerHTML = ball;
        document.getElementById("balll").innerHTML = ball;
        };
        function f5() {
        gainB = -1*{{ Constants.gain_B }};
        document.getElementById("gainB").innerHTML = gainB;
        document.getElementById("gainBB").innerHTML = gainB;
        document.getElementById("gainBBB").innerHTML = gainB;
        document.getElementById("gainBBBB").innerHTML = gainB;
        document.getElementById("gainBBBBB").innerHTML = gainB;
        };
        function f6(){
        Bp = 22;
        Bo = 58;
        Bt = Bp + Bo;
        Ba = {{ Constants.red }} - Bt;
        A = {{ Constants.endowment|json }} - Bp;
        gain2 = -A/(1/{{ Constants.multiplier_A }});
        document.getElementById("Ba").innerHTML = Ba;
        document.getElementById("A").innerHTML = A;
        document.getElementById("gain2").innerHTML = gain2;
        document.getElementById("gain22").innerHTML = gain2;
        document.getElementById("gain222").innerHTML = gain2;
        document.getElementById("Bp").innerHTML = Bp;
        document.getElementById("Bo").innerHTML = Bo;
        document.getElementById("Bt").innerHTML = Bt;
        document.getElementById("Btt").innerHTML = Bt;
        };

    window.onload = function(){f1();f2();f3();f4();f5();f6();};
</script>